* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
img {
    max-width: 100%;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}



.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 0 20px 0; /* Bonus */
    text-align: left; /* Bonus */
}
.project-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 0 20px 0; 
    text-align: left; 
}
/* Bonus */

.projects-wrapper {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

